.contact-page-main {
  width: 100%;
  min-height: 100vh;
  background-color: $color-white;
}

.contact-page-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 64px;
  padding: 0 0 96px;
}

@media (max-width: 991px) {
  .contact-page-content {
    gap: 56px;
    padding-bottom: 80px;
  }
}

@media (max-width: 639px) {
  .contact-page-content {
    gap: 44px;
    padding-bottom: 64px;
  }
}
