$color-cta-blue: #31c2e1;
$color-hash-black: #333333;
$color-stroke-grey: #dedede;
$color-hash-grey-2: #767676;
$color-black: #000000;
$color-white: #ffffff;
$color-carbon-black: #222222;
$color-slate-grey: #57575a;
$color-cloud-grey: #dedede;

$font-family-primary: "SF Pro Display", sans-serif;
